@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(fonts/Roboto-Regular.ttf) format('truetype');
}

body {
  background-color: white;
  font-family: 'Roboto';
}

h1 {
  font-size: 64px;
}

h2 {
  font-size: 28px;
}

h3 {
  margin-top: 40px;
  border-bottom: dashed 1px #777;
  font-size: 18px;
  color: #777;
}

.hidden {
  display: none;
}

.container {
  padding: 30px;
}

.error {
  color: red;
}

@media only screen and (min-width : 992px) {
  .container {
    padding-top: 20px;
    padding-left: 25%;
    padding-right: 25%;
  }
}
